<!-- BUSCA -->
<div class="navigation-bar">
	<h1>Rotas</h1>
</div>
<div class="navigation-view tenpad">

	<div class="jumbotron tenpad">
		<h3 class="tenpad">
			Olá, para onde você está indo?
		</h3>
		
	    <div class="input-group tenpad fullw">
      		<input type="text" class="form-control" placeholder="Ex.: Masp">
      		<span class="input-group-btn">
        		<button class="btn btn-primary fullw"
        		onclick="{{push 'resultado-busca'}}">buscar</button>
     		</span>
    	</div>
	</div>

	{{insert 'tabs'}}

</div>

