<!-- RESULTADO DA BUSCA -->
<div class="navigation-bar">
	<h1>Buscando rota</h1>
</div>
<div class="navigation-view tenpad">
	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>

	<div class="pin-list">
		<div>
			<span class="unova-icon glyphicon glyphicon-map-marker"></span>
		</div>
		<h4>MASP - Museu de Arte de São Paulo</h4>
		<p>Avenida Paulista, 1200
		<br>Bela Vista, centro</p>
		<hr>
	</div>
</div>